{% extends 'base.html' %}
{% block content %}
<div class="hero">
    <h1 class="display-4 fw-bold">Delicious food in Acapulco</h1>
</div>

<div class="dining-sections">
    <div class="dining py-4">
        <div class="container">
            <h2 class="text-center mb-4">Fine Dining</h2>
            <div id="fineDiningCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='images/meson.png') }}" class=d-block w-100" alt="Fine Dining Option 1">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Mesón de los Ángeles</h5>
                            <p>Mesón de los Ángeles is renowned for its exquisite Mexican and fusion cuisine, offering a luxurious dining experience. Guests are treated to a beautiful setting and gourmet dishes crafted with precision and care.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/sunsetlounge.jpeg') }}" class="d-block w-100" alt="Fine Dining Option 2">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Sunset Lounge</h5>
                            <p>Sunset Lounge specializes in Mexican and seafood dishes, providing not only delicious food but also a stunning view and exceptional service. It's the perfect spot for a romantic dinner or a special occasion.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/bellavista.jpeg') }}" class="d-block w-100" alt="Fine Dining Option 3">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Restaurante BellaVista</h5>
                            <p>Restaurante BellaVista at Hotel Las Brisas Acapulco offers international cuisine with breathtaking views of the bay. The atmosphere is fantastic, and the dishes are crafted to perfection, making it a memorable dining experience.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#fineDiningCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#fineDiningCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="breakfast py-4">
        <div class="container">
            <h2 class="text-center mb-4">Breakfast</h2>
            <div id="breakfastCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='images/lafinca.jpeg') }}" class="d-block w-100" alt="Breakfast Option 1">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>La Finca Acapulco Costera</h5>
                            <p>La Finca Acapulco Costera offers a delightful breakfast with excellent views of the bay. It's known for its fresh seafood and a cozy atmosphere, making it a great spot to start your day.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/mammagaia.jpeg') }}" class="d-block w-100" alt="Breakfast Option 2">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Mamma Gaia</h5>
                            <p>Mamma Gaia is a comfortable and relaxing place that serves international and fusion breakfast dishes. It's a newer spot but has quickly become a favorite among locals and visitors alike.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/cabana.jpeg') }}" class="d-block w-100" alt="Breakfast Option 3">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>La Cabaña de Caleta</h5>
                            <p>La Cabaña de Caleta is a charming Mexican restaurant with a beautiful setting. It's known for its delicious breakfast dishes and a cozy atmosphere, making it a great place to start your day.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#breakfastCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#breakfastCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="snack py-4">
        <div class="container">
            <h2 class="text-center mb-4">Snacks</h2>
            <div id="snacksCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='images/delifrappe.jpeg') }}" class="d-block w-100" alt="Snack Option 1">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Deli Frappe</h5>
                            <p>Situated on Bernal Díaz del Castillo 26, Deli Frappe is known for its delicious sandwiches and coffee, making it a great spot for a quick and tasty snack</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/mariscospipo.jpeg') }}" class="d-block w-100" alt="Snack Option 2">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Mariscos Pipos</h5>
                            <p>Located on Costera M. Alemán, opposite the Convention Center, Mariscos Pipos is famous for its seafood snacks, including shrimp cocktails and ceviche, perfect for a savory treat</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/laconcha.jpeg') }}" class="d-block w-100" alt="Snack Option 3">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>La Concha Acapulco</h5>
                            <p>It's a fantastic spot known for its delicious seafood snacks, including shrimp cocktails and ceviche. Located right on the beach, it offers a relaxing atmosphere with stunning views, making it a perfect place to enjoy some tasty snacks..</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#snacksCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#snacksCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

